.btn {
    &-switch {
        width: 100px;
        height: 25px;
        border: none;
        border-left: 6px solid $accentFrameColor;
        background: none;
        color: $textColor;
        font-size: 14px;
        text-wrap: nowrap;
        overflow: hidden;
        text-align: left;

        &.active {
            border-left: 6px solid $switchOn;
        }
    }
}