.task-list {
    &-wrapper {
        .table {
            --bs-body-bg: #{$framesBgColor};
            --bs-emphasis-color: #{$textColor};
            --bs-border-color: #{$borderColor};

            tr:last-of-type {
                td {
                    border-style: none;
                }
            }

            td {
                font-size: 14px;
                vertical-align: middle;
            }
        }
    }

    &-status.status {
        &-1 {
            color: $yellow-500;
        }
        &-2 {
            color: $yellow-200;
        }
        &-3 {
            color: $teal-400;
        }
        &-4 {
            color: $red-500;
        }
        &-5 {
            color: $red-300;
        }
        &-6 {
            color: var(--bs-success);
        }
        &-7 {
            color: var(--bs-info);
        }
    }

    &-marker {
        min-width: 48px;

        &-circle {
            width: 6px;
            height: 6px;
            display: inline-block;
            border-radius: 50%;
            background-color: $statusColorOther;

            &.status {
                &-1 {
                    background-color: $yellow-500;
                }
                &-2 {
                    background-color: $yellow-200;
                }
                &-3 {
                    background-color: $teal-400;
                }
                &-4 {
                    background-color: $red-500
                }
                &-5 {
                    background-color: $red-400;
                }
                &-6 {
                    background-color: var(--bs-success);
                }
                &-7 {
                    background-color: var(--bs-info);
                }
            }
        }
    }

    &_header {
        height: 128px;
    }

    &-filter {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
        
        @include media-breakpoint-up(md) {
            align-items: center;
            flex-direction: row;
            gap: 32px;
        }
    }
}

.filter {
    &-statuses {
        padding: 15px 18px;
        border: 1px solid $borderColor;
        border-radius: 12px;

        &-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 0;
            gap: 4px;
        }
    }

    &-block {
        // display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &-create {
        padding: 8px 14px;
        border: 1px solid $borderColor;
        border-radius: 12px;
        width: 100%;

        &-desc {
            font-size: 14px;
        }
        
        &-inputs {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        &-label {
            border-left: 6px solid $accentFrameColor;
            height: 24px;

            &.active {
                border-left: 6px solid $switchOn;
            }
        }

        .form-control {
            --bs-border-width: 0;
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            width: auto;

            &::-webkit-calendar-picker-indicator {
                filter: brightness(0) invert(1);
            }
        }
    }

    &-worker {
        padding: 6px 14px;
        border: 1px solid $borderColor;
        border-radius: 12px;
        width: 100%;

        &-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-label {
            font-size: 14px;
        }

        &-btns {
            display: flex;
            gap: 8px;
        }

        .form-select {
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            width: auto;
        }
    }
}
