$primary: #42a5f5;
$danger: #BE2C2C;

$body-bg: #221922;
$body-color: #DFD5E9;

// Main color
$frameLeft: #2C2336;
$accentFrameColor: #5B4C73;
$colorLine: #3C2F4C;
$switchOn: #268E0C;
$framesBgColor: #433558;
$frameBgColor: #332641;
$textColor: #fff;
$borderColor: #787083;

$statusColorOther: #0C7B8E;

// TaskDetail
$headerFrameBgColor: #543856;
$frameDefBgColor: #352A41;
$frameDescrBgColor: #4E4F79;