//@import "./../../../../scss/custom_variables";

@import "../scss/variables";

// Импортируем весь Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "../scss/main";
@import "../scss/btn";
@import "../scss/asideMain";
@import "../scss/toolTip";
@import "../scss/headerLine";
@import "../scss/taskList";
@import "../scss/taskDetail";
@import "../scss/comments";